<ul class="list-unstyled">
  <% jobs.each do |job| %>
    <li class="media mb-3">
      <img class="mr-2 rounded" src="<%= gravatar_url(job.company, { size: 50 }) %>" alt="">
      <div class="media-body">
        <div>
          <b><%= link_to job.content,job %></b><span class="text-muted"> registered at <%= job.created_at.to_s(:datetime_jp) %></span>
        </div>
        <div>
          <% if current_company == job.company %>
            <% unless Relationship.find_by(job_id: job.id)==nil then %>
              <% if job.status == '確認中'%>
                <span class="text-muted"><%= job.status %></span>
                <div class="btn-toolbar">
                <div class="btn-group">
                  <%= form_with(model: job, local: true) do |f| %>
                    <%= hidden_field_tag :job_id, job.id %>
                    <%= f.submit '委託確定', class: 'btn btn-primary btn-sm' %>
                  <% end %>
                  <%= form_with(model: Relationship.find_by(job_id: job.id), local: true, method: :delete) do |f| %>
                    <%= hidden_field_tag :job_id, job.id %>
                    <%= f.submit '却下', class: 'btn btn-danger btn-sm' %>
                  <% end %>
                </div>
                </div>
              <% else %>
                <span class="text-muted">委託確定</span>
                <%= form_with(model: Relationship.find_by(job_id: job.id), local: true, method: :delete) do |f| %>
                  <%= hidden_field_tag :job_id, job.id %>
                  <%= f.submit '完了', class: 'btn btn-warning btn-sm' %>
                <% end %>
              <% end %>
            <% else %>
              <%= link_to "取下げ", job, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
            <% end %>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate jobs %>
</ul>
