<h1>お仕事の詳細</h1>
<div class="media">
  <img class="mr-2" src="/assets/jobs2.jpg" alt="6x6 image">
  <div class="media-body">
    <h3 class="mt-0">お仕事内容：<%= job.content %></h3>
    <h5 class="mt-0">依頼企業名：<%= job.company.name %></h5>
    <div>
      <th>開始日時:</th>
      <td><%= job.start_date %></td>
        <% unless job.start_time.nil? %>
          <td><%= job.start_time.strftime('%H:%M') %></td>
        <% end %>
    </div>
    <div>
      <th>終了日時:</th>
      <td><%= job.end_date %></td>
      <% unless job.end_time.nil? %>
        <td><%= job.end_time.strftime('%H:%M') %></td>
      <% end %>
    </div>
    <div>
      <th>お仕事の場所:</th>
      <td><%= job.place %></td><br>
      <br>
    </div>
    <div>
        <% unless Relationship.find_by(job_id: job.id)==nil then %>
          <% if job.status == '確認中'%>
            <span class="text-muted"><%= job.status %></span>
            <%= form_with(model: job, local: true) do |f| %>
              <%= hidden_field_tag :job_id, job.id %>
              <%= f.submit '委託確定', class: 'btn btn-primary btn-sm' %><br>
            <% end %>
            <%#= form_with(model: current_user.relationships.find_by(job_id: job.id), local: true, method: :delete) do |f| %>
              <%#= hidden_field_tag :job_id, job.id %>
              <%#= f.submit 'キャンセル', class: 'btn btn-danger btn-sm' %>
            <%# end %>
          <% else %>
            <span class="text-muted">委託確定</span><br>
          <% end %>
        <% else %>
          <%= link_to "取下げ", job, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
        <% end %>
    </div>
    <div>
    <%= link_to :back do %>
      <button>戻る</button>
    <% end %>
    </div>
  </div>
</div>
