<ul class="list-unstyled">
  <% @jobs.each do |job| %>
    <li class="media mb-3">
      <img class="mr-2 rounded" src="<%= gravatar_url(job.company, { size: 50 }) %>" alt="">
      <div class="media-body">
        <div>
          <b><%= job.content %></b><span class="text-muted"> registered at <%= job.created_at.to_s(:datetime_jp) %></span>
        </div>
        <div>
          <%= job.company.name %>
          <%= render "relationships/relationship_button", job: job %>
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate @jobs %>
</ul>
